{{#unless this.site.mobileView}}
  {{#if this.bulkSelectEnabled}}
    <th class="bulk-select topic-list-data">
      <FlatButton
        class="bulk-select"
        @icon="list"
        @title="topics.bulk.toggle"
        @action={{this.toggleBulkSelection}}
      />
    </th>
  {{/if}}
  <th class="topic-list-data">
    {{#unless this.bulkSelectEnabled}}
      <FlatButton
        class="bulk-select"
        @icon="list"
        @title="topics.bulk.toggle"
        @action={{this.toggleBulkSelection}}
      />
    {{/unless}}
    {{#if this.bulkSelectEnabled}}
      <span class='bulk-select-topics'>
        {{#if this.canDoBulkAction}}
          <button type="button" class='btn btn-icon no-text bulk-select-actions' {{on "click" this.bulkActions}}>{{d-icon "cog"}}&#8203;</button>
        {{/if}}
        <button type="button" class='btn btn-default bulk-select-all' {{on "click" this.selectAll}}>{{i18n "topics.bulk.select_all"}}</button>
        <button type="button" class='btn btn-default bulk-clear-all' {{on "click" this.clearAll}}>{{i18n "topics.bulk.clear_all"}}</button>
      </span>
    {{/if}}
    <span>{{i18n "topic.title"}}</span>
  </th>
  <th class="topic-list-data">&nbsp;</th>
  <th class="post-metadata topic-list-data">{{i18n
      "post.bookmarks.updated"
    }}</th>
  <th class="post-metadata topic-list-data">{{i18n "activity"}}</th>
  <th>&nbsp;</th>
{{/unless}}
