<ConditionalLoadingSpinner @condition={{this.loading}}>
  <LoadMore
    @selector=".bookmark-list .bookmark-list-item"
    @action={{this.loadMore}}
  >
    <table class="topic-list bookmark-list">
      <thead class="topic-list-header">
        <BookmarkList::Header
          @bulkSelectEnabled={{this.bulkSelectEnabled}}
          @canDoBulkAction={{gt this.selected.length 0}}
          @toggleBulkSelection={{action "toggleBulkSelect"}}
          @selectAll={{action "bulkSelectAll"}}
          @clearAll={{action "bulkClearAll"}}
          @bulkActions={{action "showBulkActions"}}
        />
      </thead>
      <tbody class="topic-list-body">
        {{#each this.content as |bookmark|}}
          <BookmarkList::Item
            @bookmark={{bookmark}}
            @selected={{this.selected}}
            @bulkSelectEnabled={{this.bulkSelectEnabled}}
            @select={{action "selectBookmark"}}
            @remove={{action "removeBookmark"}}
            @unselect={{action "unselectBookmark"}}
            @reload={{this.reload}}
          />
        {{/each}}
      </tbody>
    </table>
    <ConditionalLoadingSpinner @condition={{this.loadingMore}} />
  </LoadMore>
</ConditionalLoadingSpinner>